In [72]:
import sqlite3
import pandas as pd

In [73]:
df = pd.read_csv("../data/With_description/cleaned_RC_Book.csv")

In [74]:
conn = sqlite3.connect("library.db")
cursor = conn.cursor()

In [75]:
cursor.execute("DROP TABLE IF EXISTS books;")

cursor.execute("""
CREATE TABLE books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    isbn TEXT NOT NULL,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    description TEXT,
    source TEXT,
    year INTEGER,
    acc_date TEXT,
    place_publisher TEXT
);
""")

conn.commit()

print("Database connection successful.")

Database connection successful.

In [76]:
# Insert Rows

insert_sql = """
INSERT OR IGNORE INTO books
(isbn, title, author, description, source, year, acc_date, place_publisher)
VALUES (?, ?, ?, ?, ?,? ,? ,?)
"""

for _, row in df.iterrows():
    cursor.execute(
        insert_sql,
        (
            row["ISBN"],
            row["Title"],
            row["Author"],
            row["book_description"],
            row["description_source"],
            row['Year'],
            row['Acc_Date'],
            row['Place_&_Publisher']
        )
    )
conn.commit()


print("Data Moved SUccessfully.")

Data Moved SUccessfully.

## Verification

In [77]:
cursor.execute("SELECT COUNT(*) FROM books;")
print("Total rows:", cursor.fetchone()[0])

Total rows: 31981