In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/processed/cleaned_RC_Book.csv")

df.head()

,Unnamed: 0,Acc_Date,Acc_No,Title,ISBN,Author,Place_&_Publisher,Year,pages,Class No./Book No.,book_description,description_source
0,0,20-01-2017,1,Network design : management and technical pers...,0849334047,"Mann-Rubinson, Teresa C.","Boca Raton: CRC Press,",1999-01-01,405 p.;,004.6 MAN,Network Design outlines the fundamental princi...,good library
1,1,08-09-2001,2,Multimedia information analysis and retrieval ...,9783540648260,"Ip, Horace H. S.","Berlin: Springer,",1998-01-01,"viii, 264 p.;",004 IPH,This book constitutes the refereed proceedings...,good library
2,2,08-09-2001,3,"Multimedia systems : delivering, generating, a...",1852332484,"Morris, Tim","London: Springer,",2000-01-01,"xi, 191 p.;",006.7 MOR,This book equips readers with the skills to de...,good library
3,3,05-09-2001,4,Principles of Data Mining and Knowledge Discovery,9783540410669,"Zytkov, Jan. M.","New York: Springer-Verlag,",1999-01-01,593 p.;,006.3 ZYT,This book constitutes the refereed proceedings...,good library
4,4,09-08-2001,5,Focusing solutions for data mining : analytica...,3540664297,"Reinartz, Thomas","New York: Springer,",1999-01-01,"xiv, 307 p.;",006.3 REI,"In the first part, this book analyzes the know...",good library

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32012 non-null  int64
 1   Acc_Date            31841 non-null  object
 2   Acc_No              32012 non-null  int64
 3   Title               32012 non-null  object
 4   ISBN                32012 non-null  object
 5   Author              31981 non-null  object
 6   Place_&_Publisher   32012 non-null  object
 7   Year                31844 non-null  object
 8   pages               32011 non-null  object
 9   Class No./Book No.  32012 non-null  object
 10  book_description    32012 non-null  object
 11  description_source  32012 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.9+ MB

# Add description Source Name

In [4]:
(df['description_source'] != "google_books").sum()

24682

In [5]:
df['description_source'] = df['description_source'].fillna("good library")

In [6]:
df['description_source'].value_counts()

description_source
good library    24682
google_books     7330
Name: count, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32012 non-null  int64
 1   Acc_Date            31841 non-null  object
 2   Acc_No              32012 non-null  int64
 3   Title               32012 non-null  object
 4   ISBN                32012 non-null  object
 5   Author              31981 non-null  object
 6   Place_&_Publisher   32012 non-null  object
 7   Year                31844 non-null  object
 8   pages               32011 non-null  object
 9   Class No./Book No.  32012 non-null  object
 10  book_description    32012 non-null  object
 11  description_source  32012 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.9+ MB

In [8]:
df['book_description'].isna().sum()

0

In [9]:
df['book_description'] = df['book_description'].fillna("Description not Available")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32012 non-null  int64
 1   Acc_Date            31841 non-null  object
 2   Acc_No              32012 non-null  int64
 3   Title               32012 non-null  object
 4   ISBN                32012 non-null  object
 5   Author              31981 non-null  object
 6   Place_&_Publisher   32012 non-null  object
 7   Year                31844 non-null  object
 8   pages               32011 non-null  object
 9   Class No./Book No.  32012 non-null  object
 10  book_description    32012 non-null  object
 11  description_source  32012 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.9+ MB

## Clean Description part(Remove HTML tags , HTML entities)

In [11]:
import html
import re

def clean_description(text):
    if not text or pd.isna(text):
        return None

    text = str(text)

    # 1️⃣ Decode HTML entities (&amp; → &)
    text = html.unescape(text)

    # 2️⃣ Remove HTML tags
    text = re.sub(r"<[^>]+>", " ", text)

    # 3️⃣ Remove leftover HTML entities if any
    text = re.sub(r"&[a-zA-Z]+;", " ", text)

    # 4️⃣ Normalize whitespace
    text = re.sub(r"\s+", " ", text)

    return text.strip()

In [12]:
df['book_description'] = df['book_description'].apply(clean_description)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32012 non-null  int64
 1   Acc_Date            31841 non-null  object
 2   Acc_No              32012 non-null  int64
 3   Title               32012 non-null  object
 4   ISBN                32012 non-null  object
 5   Author              31981 non-null  object
 6   Place_&_Publisher   32012 non-null  object
 7   Year                31844 non-null  object
 8   pages               32011 non-null  object
 9   Class No./Book No.  32012 non-null  object
 10  book_description    32012 non-null  object
 11  description_source  32012 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.9+ MB

### Change year column datatype from float to datetime

In [14]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y', errors='coerce')

### Change Acc.Date column datatype from object to datetime

In [15]:
# df['Acc. Date'] = pd.to_datetime(df['Acc. Date'] , format="%Y-%M-%D" , errors = 'coerce')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32012 non-null  int64
 1   Acc_Date            31841 non-null  object
 2   Acc_No              32012 non-null  int64
 3   Title               32012 non-null  object
 4   ISBN                32012 non-null  object
 5   Author              31981 non-null  object
 6   Place_&_Publisher   32012 non-null  object
 7   Year                0 non-null      datetime64[ns]
 8   pages               32011 non-null  object
 9   Class No./Book No.  32012 non-null  object
 10  book_description    32012 non-null  object
 11  description_source  32012 non-null  object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 2.9+ MB

### Change the column name

In [17]:
df = df.rename(columns={
    'Author/Editor' : "Author",
    'Clss No./Book No.' : "Class_no",
    'Page(s)' : "pages",
    'Acc. No.' : "Acc_No",
    'Acc. Date' : "Acc_Date",
    "Place & Publisher" : "Place_&_Publisher"
})

### Normalization Author Name

In [19]:
def clean_author(author):
    if not author or pd.isna(author):
        return None

    author = str(author).lower()

    # remove unwanted punctuation
    author = re.sub(r"[.,/]", " ", author)

    # remove brackets content
    author = re.sub(r"\(.*?\)", "", author)

    # remove numbers
    author = re.sub(r"\d+", "", author)

    # keep letters and spaces only
    author = re.sub(r"[^a-z ]", " ", author)

    # normalize spaces
    author = re.sub(r"\s+", " ", author)

    return author.strip()

In [20]:
df["Author"] = df["Author"].apply(clean_author)

In [21]:
df.to_csv("../data/processed/cleaned_RC_Book.csv")